$maincolor:white;
$transition: .2s ease-out;
$transcolor: rgba(194, 194, 201, 0.199);

head, body {
    font-size: 12pt;
    margin:0;
}

#imgwrapper {
background: url(../background.jpg) no-repeat center center fixed; 
background-size: cover;
}

a {
	color: $maincolor;
	text-align: center;
}
#navbar {
	width: 100%;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		a {
			display: block;
			padding: 2px;
			text-decoration: none;
		}
	}
	.menu {
		clear: both;
		max-height: 0;
		transition: $transition;
	}
	.menu-icon {
		float: right;
		padding: 28px 20px;
		position: relative;
		.nav-icon {
			background-color: $maincolor;
			display: block;
			height: 2px;
			width: 18px;
			position: relative;
			transition: background $transition;
			&:before {
				background: $maincolor;
				content: "";
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				transition: all $transition;
				top: 5px;
			}
			&::after {
				background: $maincolor;
				content: "";
				display: block;
				height: 100%;
				width: 100%;
				position: absolute;
				transition: all $transition;
				top: -5px;
			}
		}
	}
	.menu-btn {
		display: none;
		&:checked {
			~ {
				.menu {
					max-height: 240px;
					background-color: $transcolor;
				}
				.menu-icon {
					.nav-icon {
						background-color: transparent;
						&:before {
							transform: rotate(-45deg);
							top: 0;
						}
						&:after {
							transform: rotate(45deg);
							top: 0;
						}
					}
				}
			}
		}
	}
}


#mainwrapper {
    height: 100vh;        
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 99%;
        .textdiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:$maincolor;
        h2 {
            padding-top: 150px;
        }
        p {
            font-size: 1em;            
        }
        .arrow i {
            margin-top: 180px;
            font-size: 2em;
        }
    }

}
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $maincolor;
	column-gap: 20px;
	#article {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.profile {
			display: flex;
			flex-direction: column;
			align-items: center;
			.profileimg {
				width: 270px;
				img {
					width: 100%;
					border-radius: 50%;
					box-shadow: 0 4px 8px 0 rgba(173, 171, 171, 0.685), 0 6px 20px 0 rgba(173, 171, 171, 0.685);
				}
			}
			.textbox {
				height: auto;
				width: 330px;
				background-color: rgb(228, 222, 222);
				border-radius: 10px;
				margin-top: 20px;
				p {
					font-size: 0.8em;
					padding: 25px;
					i {
						font-size: 2em;
						padding: 2px;
					}
				}
			}
		}
		.arrow2 i{
			font-size: 25pt;
            color:black;
		}
	}
}





#about > .arrow2 > a > .i {
    font-size: 2em;
    color:black;
    margin-bottom: 30px;
}

#contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    #footer {
        display: flex;
        flex-direction: column;
        width: 40%;
        .col {
            margin-top: 5px;
            margin-bottom: 20px;
        p {
            font-size: 1.1em;
        color:$maincolor;
        i {
            margin-right: 15px;
        }
        }
    }
}

}

@media screen and (min-width: 768px){
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home {
    background-color: $transcolor;
    height:60px;
    #navbar {
        li {
            float: left;
            a:hover {
                    text-decoration: underline;
            }
            a {
                padding: 20px 30px;
            }
        }
        .menu {
            clear: none;
            float: right;
            max-height: none;
        }
        .menu-icon {
            display: none;
        }
    }  
}

#main {
    .textdiv {
        height:75%;
    }
}

#article {
	display: flex;
	flex-direction: column;
	.row1 {
		display: flex;
		justify-content: space-evenly;
        gap:100px;
        .textbox {
            width: 350px;
        }
    }
	.row2 {
		display: flex;
		justify-content: space-evenly;
        gap:100px;
        .textbox {
            width: 350px;
        }
	}
}


#contact {
    display: flex;
    #footer {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 85%;
        .col {
            display: flex;
            flex-direction: column;
            color:$maincolor;
            }
    }
}
}